git+git://github.com/gabrielgrant/django-html-field.git
BeautifulSoup==3.2.0
Django==1.3.1
South==0.7.3
django-admin-tools==0.4.0
django-extensions==0.9
django-floppyforms==0.4.7
django-pagination==1.0.7
django-picklefield==0.1.9
django-taggit==0.9.3
django-taggit-autocomplete-modified==0.1.0b4
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==0.1
djangoembed==0.1.1
httplib2==0.7.2
simplejson==2.3.2
git+git://github.com/quinode/coop-colorbox.git
git+git://github.com/quinode/djaloha.git
git+git://github.com/quinode/coop-bar.git
git+git://github.com/quinode/coop_cms.git
django-tinymce
django-debug-toolbar
FirePython
raven