/* @override http://localhost:8000/static/css/newsletter.css */

body {
    background: #eee;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#newsletter {
    width: 600px;
    background: #fff;
    padding: 10px;
    border: solid thin #ccc;
    margin: auto;
}
.newsletter-item {
    border: solid thin #ccc;
	margin-bottom: 5px;
		min-height: 80px;

}

h2{
	color: #0d52a3;

}

.newsletter-item img {
    float: left;
	margin-right: 10px;
}

a{
	color: #82ad52;
}

a.read-more{
	text-align: right;
	display: block;
	padding-right: 40px;
	font-size: 14px;
}

td.marge{
	text-align: right;
	font-size: 11px;
	line-height: 14px;
	width: 120px;
}

td.marge p{
	margin-top: 30px;
}

div#content{
	margin-bottom: 30px;
}

.item-content h4{
	margin-bottom: 0;
	padding: 0;
	margin-top: 0;
	font-size: 14px;
	color: #0d52a3;
}