{% extends "base.html" %}
{% load i18n static %}

{% block meta_title %}Carte des conseils locaux de parents d'élèves du Puy-de-Dôme{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.ie.css" />
    <![endif]-->
    {{ block.super }}
{% endblock stylesheet %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.easyListSplitter.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.1.2"></script>
{% endblock javascript %}


{% block document %}
<div class="grid_12 content_wrapper">
    <div class="content">
    {% block article %}


    {% block title %}<h2 id="title">Carte des conseils locaux de parents d'élèves du Puy-de-Dôme</h2>{% endblock %}

    <div id="map" style="width: 900px; height: 500px"></div>

    <script>
        var map = new L.Map('map');
        //var ailleurs = new L.LatLng(45.654827, 3.430401); // geographical point (longitude and latitude)


        var noms = new L.StamenTileLayer("toner-labels");
        var fond = new L.StamenTileLayer("watercolor");


        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        //map.setView(ailleurs, 10).addLayer(cloudmade);

        map.addLayer(fond);
        map.addLayer(noms);


        var FcpeIcon = L.Icon.extend({
            iconUrl: '/static/img/pin-fcpe.png',
            shadowUrl: null,
            iconSize: new L.Point(32, 47),
            shadowSize: null,
            iconAnchor: new L.Point(14, 47),
            popupAnchor: new L.Point(2, -32)
        });

        $(function(){

            $.getJSON('/cartographie/json/', function(data) {

                var fcpeGeojsonLayer = new L.GeoJSON(data, {
                    pointToLayer: function (latlng){
                        return new L.Marker(latlng, {
                            icon: new FcpeIcon()
                        });
                    }
                });

                fcpeGeojsonLayer.on("featureparse", function (e) {
                    popupContent = e.properties.popupContent;
                    e.layer.bindPopup(popupContent);
                });

                fcpeGeojsonLayer.addGeoJSON(data)

                map.addLayer(fcpeGeojsonLayer);

                map.fitBounds(fcpeGeojsonLayer.getBounds())

             });

        });


    </script>
<br/> <br/>

    <h3> Liste des conseils locaux par commune </h3>

    {% regroup liste_conseils by commune as cl_par_communes %}
    <div class="cl_par_communes">
    <ul>
    {% for commune in cl_par_communes %}
        <li><span>{{ commune.grouper }}</span>
        <ul>
            {% for item in commune.list %}
              <li><a href="{{ item.url }}">{{ item.nom }}</a></li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    </div>


    {% endblock article %}
    </div>
</div>

<script type="text/javascript">

$(function(){
    $(".cl_par_communes > ul").easyListSplitter({colNumber:4});
});
</script>




{% endblock %}

