{% load i18n static coop_bar_tags coop_navigation %}<!DOCTYPE html>
<html lang="fr">
<head>
    {% block extra-head %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <link rel="alternate" type="application/rss+xml" title="Actualités FCPE 63" href="http://www.fcpe63.fr/rss/"/>
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/fcpe/favicon.png"/>  

    <title>{% block meta_title %}{% endblock %} | FCPE 63</title>

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    {% endblock %}

    {% block jquery_declaration %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    {% endblock %}

    {% block javascript %}
    {% endblock javascript %}

    {% coop_bar_headers %}
    {% block extra_head %}{% endblock %}

    <style type="text/css">
        <!-- Aloha Editor alignment styles -->
        .aloha-align-left {text-align: left;}
        .aloha-align-right {text-align: right;}
        .aloha-align-center {text-align: center;}
        .aloha-align-justifiy {text-align: justify;}
        img.aloha-align-left {float: left;}
        img.aloha-align-right {float: right;}
    </style>

</head>
<body>
    {% coop_bar %}

<div id="entete" class="container_12 blanc">
    <div id="bandeau">
    <h1><a href="/">Conseil Départemental des Parents d’Élèves</a><br/>
        <span><a href="/">Puy-de-Dôme (63)</a></span>
        </h1>
    <a href="/"><img alt="logo" id="logo" src="{{ STATIC_URL }}img/fcpe/logo80.png" border="0"/></a>
    </div>
    <div id="menubar">

    <ul id="navigation">

        {% navigation_as_nested_ul li_template="coop_cms/menu_li.html" %}


        <li><a href="/formulaire/contact/"><img src="{{ STATIC_URL }}img/fcpe/email.png" alt="email" id="email">
            Contactez la FCPE 63</a><li>
    </ul>

    </div>

</div>


 <div class="container_12 blanc">
    <div id="page">
    {% block document %}

        <div class="grid_8 content_wrapper">
            <div class="content">
                
        {% block article %}
            {% block title %}<h2>Titre de la page</h2>{% endblock %}
            <!--contenu-->
        {% endblock article %}
            </div>
        </div>

        <div class="grid_4 colonne_wrapper">
        {% block colonne %}
            {% include "colonne.html" %}
        {% endblock colonne %}
        </div>


    {% endblock document %}
    </div>


    <div class="clear"></div>

    <div id="footer">
    {% block footer %}



    {% endblock %}
    </div>

</div>

{% coop_bar_footer %}

<!-- Piwik 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.quinode.fr/" : "http://stats.quinode.fr/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.quinode.fr/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
 End Piwik Tracking Code -->

</body>
</html>
