{% load i18n static coop_navigation %}
<html>
<head>
    {% block extra-head %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    <meta name="google-site-verification" content="QLXJbEBuQxJgE1XcKht7ybGcac8d3yMhO4DKSJTSjDE" />
    <title>{% block meta_title %}{% endblock %} | FCPE 63</title>
        
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>        
    
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    {% endblock %}
    
    {% block extra_head %}{% endblock %}

    {% block jquery_declaration %}
    {% endblock %}
</head>
<body>
<div id="entete" class="container_12 blanc">
    <div id="bandeau">
    <h1>Fédération des Conseils de Parents d’Élèves<br/>
        <span>Puy-de-Dôme (63)</span>
        </h1>
    <img alt="logo" id="logo" src="{{ STATIC_URL }}img/logo80.png" />
    </div>
    <div id="menubar">

    <ul id="navigation">
        
        {% navigation_as_nested_ul li_template="coop_cms/menu_li.html" %}
        
       
        <li><a href="/formulaire/contact/"><img src="{{ STATIC_URL }}img/email.png" alt="email" id="email">
            Contactez la FCPE 63</a><li>
    </ul>

    </div>

</div>


 <div class="container_12 blanc">
    <div id="page">
    {% block document %}
        
        <div class="grid_8 content_wrapper">
            <div class="content">
        {% block content %}
        {% block title %}<h2>Titre de la page</h2>{% endblock %}
            <!--contenu-->        
        {% endblock content %}
            </div>
        </div>
        
        <div class="grid_4 colonne_wrapper">
        {% block colonne %}
            {% include "colonne.html" %}
        {% endblock colonne %}
        </div>

    {% endblock document %}
    </div>


    <div class="clear"></div>

    <div id="footer">
    {% block footer %}

   
    
    {% endblock %}
    </div>

</div>


{% block page-close %}

{% endblock %}

</body></html>
