{% extends "fcpe_article_sans_logo.html" %}
{% load i18n coop_edition pagination_tags %}


    {% block article %}

        {% cms_edit article %}

            <h2 id="title">{{article.title|safe}}</h2>
            {{article.content|safe}}
        {% end_cms_edit %}

        {% if_cms_edition %}
            {% include "coop_cms/_article_publication.html" %}
        {% endif %}
        
        <br>
        <h3>Derniers articles</h3>

        <ul class="last_articles">
            {% autopaginate homepage_articles 10 %}
            {% for item in homepage_articles %}
                {% include 'coop_cms/article_list_item.html' %}
            {% endfor %}
        </ul>

        <div id="paginator">
            {% paginate %}
        </div>
        <br>

    {% endblock %}
