{% extends "base.html" %}
{% block meta_title %}Accueil{% endblock %}

{% block content %}

     {% block title %}<h2>Bienvenue sur le site de la FCPE 63</h2>{% endblock %}

     <p>Vous trouverez dans ces pages tous les aspects de l’action militante de notre association.<br/>
     Ce site est à l’image de nos adhérents et de leurs Conseils Locaux,
     il est animé par des parents d’élèves bénévoles, impliqués dans les
     instances des établissements scolaires et la co-éducation de leurs enfants. <br/>
     N’hésitez pas à contacter la FCPE 63, les administrateurs départementaux répondent à vos questions.<br/>

     <br/><br/>

     <h2>Actualité</h2>

{% endblock %}



