
{% extends "base.html" %}
{% load i18n thumbnail %}
{% block meta_title %}FCPE 63 - Thématique : {{tag}}{% endblock %}

{% block document %}
        <div class="grid_8 content_wrapper">
            <div class="content">
        {% block content %}
        {% block title %}<h2>Thématique : « {{tag}} » </h2>{% endblock %}
        
            <br/>
            <h3>Articles portant sur ce thème</h3>
            
            {% comment %}
            {% include 'coop_cms/article_list.html' %}
            {% endcomment %}

            <ul class="last_articles">
                {% for item in articles %}
                <li>
                    <h4><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></h4>

                    <div class="article_details"><span class="date">
                        posté il y a {% blocktrans with item.created|timesince as when %}{{ when }}
                        {% endblocktrans %}</span>
                        <ul class="tags">{% for tag in item.tags.all %}
                        <li><a href="/tag/{{tag.slug}}/">{{tag}}</a></li>
                        {% endfor %}
                    </div>
                    <p>
                    {% thumbnail item.logo "50" as im %}
                        <img class="article-list-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}

                    {{ item.content|safe|truncatewords_html:50 }}</p>
                </li>
                {% endfor %}
            </ul>
                 
        {% endblock content %}
            </div>
        </div>
        
        <div class="grid_4 colonne_wrapper">
        {% block colonne %}
            {% include "colonne.html" %}
        {% endblock colonne %}
        </div>

    {% endblock document %}

    

   
    