{% extends "base.html" %}
{% load i18n djaloha_utils article_tags %}
{% block meta_title %}{% if draft %}{% trans "Draft" %} - {% endif %}{{article.title|remove_br}}{% endblock %}
{% block extra_head %}
    {% if editable and perms.coop_cms.can_change_article %}
    <script>
    $(function(){
        $('#adminbar_edit').attr('href', '{{article.get_edit_url}}');
    });
    </script>
    {% endif %}
{% endblock %}

{% block document %}
<div class="grid_8 content_wrapper">
    <div class="content">
    {% block content %}
    
        {% spaceless %}
            {% block title %}<h2 id="title">{{article.title|safe}}</h2>{% endblock %}
            {{article.content|safe}}
        {% endspaceless %}

        {% if article.slug == 'accueil' %}
            <br/>
            <h3>Derniers articles</h3>
            {% include 'coop_cms/article_list.html' %}
        {% endif %}
    
    {% endblock content %}
    </div>
    </div>
    
    <div class="grid_4 colonne_wrapper">
    {% block colonne %}
        {% include "colonne.html" %}
    {% endblock colonne %}
    </div>

{% endblock %}
